body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #343a40;
}

header h1 {
    font-size: 2rem;
}

.nav-link {
    font-size: 1rem;
}

main {
    margin-top: 2rem;
}

.card {
    margin-bottom: 1rem;
}

footer {
    background-color: #343a40;
    text-align: center;
}

.img-fluid {
    width: 100%;
    height: auto;
}
